In [8]:
import pandas as pd
import numpy as np
import wget

In [23]:
##Get the data
car_price_data = wget.download("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv",  out="car_price_csv")
car_price_data = pd.read_csv("car_price_csv" )

100% [..........................................................................] 1475504 / 1475504

ValueError: not enough values to unpack (expected 2, got 1)

In [24]:
#Q1
car_price_data.shape

(11914, 16)

In [46]:
makes = car_price_data.groupby('Make').size().reset_index()

In [48]:
makes.sort_values(by=0, ascending=False)

             Make     0
9       Chevrolet  1123
14           Ford   881
46     Volkswagen   809
45         Toyota   746
11          Dodge   626
33         Nissan   558
15            GMC   515
18          Honda   449
29          Mazda   423
8        Cadillac   397
31  Mercedes-Benz   353
43         Suzuki   351
4             BMW   334
20       Infiniti   330
3            Audi   328
19        Hyundai   303
47          Volvo   281
42         Subaru   256
0           Acura   252
21            Kia   231
32     Mitsubishi   213
24          Lexus   202
7           Buick   196
10       Chrysler   187
36        Pontiac   186
25        Lincoln   164
34     Oldsmobile   150
23     Land Rover   143
37        Porsche   136
39           Saab   111
2    Aston Martin    93
35       Plymouth    82
5         Bentley    74
13        Ferrari    69
12           FIAT    62
40          Scion    60
27       Maserati    58
22    Lamborghini    52
38    Rolls-Royce    31
26          Lotus    29
44          Tesla    18
17         HUMMER    17
28        Maybach    16
30        McLaren     5
1      Alfa Romeo     5
41         Spyker     3
6         Bugatti     3
16        Genesis     3

In [39]:
makes

Make
Acura             252
Alfa Romeo          5
Aston Martin       93
Audi              328
BMW               334
Bentley            74
Bugatti             3
Buick             196
Cadillac          397
Chevrolet        1123
Chrysler          187
Dodge             626
FIAT               62
Ferrari            69
Ford              881
GMC               515
Genesis             3
HUMMER             17
Honda             449
Hyundai           303
Infiniti          330
Kia               231
Lamborghini        52
Land Rover        143
Lexus             202
Lincoln           164
Lotus              29
Maserati           58
Maybach            16
Mazda             423
McLaren             5
Mercedes-Benz     353
Mitsubishi        213
Nissan            558
Oldsmobile        150
Plymouth           82
Pontiac           186
Porsche           136
Rolls-Royce        31
Saab              111
Scion              60
Spyker              3
Subaru            256
Suzuki            351
Tesla              18
Toyota            746
Volkswagen        809
Volvo             281
dtype: int64