In [40]:
#q1

import pandas as pd
import numpy as np

pd.__version__

'2.1.4'

In [2]:
housing_price_data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [3]:
housing_price_data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [17]:
#q2 - 10
housing_price_data.shape

(20640, 10)

In [19]:
columns_with_missing_values = housing_price_data.columns[housing_price_data.isnull().any()].tolist()

In [22]:
#q3
columns_with_missing_values

['total_bedrooms']

In [27]:
unique_ocean_proximity_values = housing_price_data["ocean_proximity"].unique()

In [30]:
#q4
unique_ocean_proximity_values

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [42]:
#q5
house_located_bay = housing_price_data[housing_price_data["ocean_proximity"] == "NEAR BAY"

In [43]:
house_located_bay

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
19067,-122.45,38.28,20.0,3306.0,503.0,1374.0,460.0,5.7984,297600.0,NEAR BAY
19068,-122.47,38.29,14.0,3732.0,846.0,1277.0,775.0,2.5658,208000.0,NEAR BAY
19069,-122.45,38.27,25.0,5024.0,881.0,1994.0,838.0,4.2237,262300.0,NEAR BAY
19077,-122.49,38.27,8.0,5092.0,988.0,1657.0,936.0,3.5625,213200.0,NEAR BAY
19104,-122.51,38.17,8.0,5875.0,1115.0,2808.0,1029.0,3.6392,246300.0,NEAR BAY

In [46]:
#q5
house_located_bay["median_house_value"].mean()

259212.31179039303

In [48]:
#q6
average_bed_room_column = housing_price_data["total_bedrooms"].mean()

In [50]:
average_bed_room_column

537.8705525375618

In [52]:
housing_price_data["total_bedrooms"].fillna(average_bed_room_column, inplace = True)

In [4]:
new_average_bed_room_column = housing_price_data["total_bedrooms"].mean()

In [35]:
Island_options = housing_price_data[housing_price_data["ocean_proximity"] == 'ISLAND' ]

In [36]:
Island_options = Island_options.loc[:,['housing_median_age','total_rooms','total_bedrooms']]

In [61]:
X = Island_options.values
XT = np.transpose(X)
XTX = XT.dot(X)
XTX_Inverse = np.linalg.inv(XTX)
arr = np.array([950, 1300, 800, 1000, 1300])
y = XTX_Inverse.dot(XT).dot(arr)

In [62]:
y

array([23.12330961, -1.48124183,  5.69922946])